{% extends 'base.html' %}
{% block content %}

<h1>fiber Details</h1>

<div class="card">
  <div class="description-card">
    <span class="card-title">{{ fiber.title }}</span>
    <p>Description: {{ fiber.description }}</p>
    {% for photo in fiber.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
  </div>
  <a href="{% url 'fibers_update' fiber.id %}">Edit</a>
  <a href="{% url 'fibers_delete' fiber.id %}">Delete</a>
  <a href="{% url 'fibers_index' %}">Cancel</a>
</div>
{% for photo in cat.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'add_photo' fiber.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

{% endblock %}