{% extends 'base.html' %}
{% block content %}

<div class="description-card">
  {% for photo in fiber.fiberphoto_set.all %}
      <img class="fiber-img" src="{{photo.url}}">
  {% endfor %}
  <div class="description">
    <ul>
      <li>{{ fiber.title }}</li>
      <br><br>
        <li>{{ fiber.description }}</li>
    </ul>
  </div>


</div>
  {% if user.is_authenticated %}
  <div class="edit-options">
    <a class="edit-link" href="{% url 'fibers_update' fiber.id %}">Edit</a>
    <a class="edit-link" href="{% url 'fibers_delete' fiber.id %}">Delete</a>
    <a class="edit-link" href="{% url 'fibers_index' %}">Cancel</a>
  </div>



<!-- new code below -->
<div class="fiber-buttons">
<form action="{% url 'fiber_photo' fiber.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" value="Upload Photo">
</form>
<br>
<form action="{% url 'delete_fiber_photo' fiber.id %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete Photo">
</form>
</div>
  {% endif %}
{% endblock %}